:root{
    font-size: 16px;
    font-family: 'Titillium Web';
    --text-primary: #555;
    --bg-primary: #252525;
    --bg-secondary: #2a2a2a;
}


/* ----------------------- Zone HTML ----------------------- */
.general{
    background-color: #252525;
    margin: 0px;
    padding: 0px;
}

#imgCnes{
    top: 6px;
    left: 20px;
    width: 240px;
    height: 60px;
}

#header{
    position: relative;
}

#body{
    position: relative;
    margin-bottom: 5rem;
}

.navbar{
   height: 5rem;
   width: 100vh; 
   position: fixed;
   background-color: var(--bg-primary);
}

/* ----------------------- Zone About ----------------------- */

/* ----------------------- Zone Etat ----------------------- */

h2{
    border: 0px;
    display: block;
    color: #555;
    font-weight: normal;
    font-size: 28px;
    margin: 0px;
    padding: 0px;
    text-shadow: 0 /*{b-page-shadow-x}*/ 1px /*{b-page-shadow-y}*/ 0 /*{b-page-shadow-radius}*/ #111 /*{b-page-shadow-color}*/;
}

#bandeauInfoUtile{
    box-sizing: border-box;
}

#tableEtat{
    background-color:#2a2a2a; 
    display: table;
    border: 0px;
    border-collapse: collapse;
    width: 100%;
    margin: 0px;
    padding: 0px;
}


/* ----------------------- Zone Synoptique ----------------------- */

/* ----------------------- Zone Camera ----------------------- */

/* ----------------------- Zone Magnetometre ----------------------- */

/* ----------------------- Zone Matrice ----------------------- */

/* ----------------------- Zone Commande ----------------------- */