/*
    ----------- Charte des couleurs --------------
    #feedd8     crème très clair
    #ffcf91     fond de page
    #333        gris : pour les ombres
    #5c3400     marron foncé : les boutons et les encadrements
    #f6b26b     marron moyen : entête et pied de page
    #fdf1e3     crème clair : les textes des boutons
    #999        gris : pour les textes des boutons grisés
    green       vert : les textes des états stables
    #a05000     marron : les textes en action
    red         rouge : les textes des états en panne
    #43382e     le control video
    #f7b074     header & footer (couleur du fond))
       
/* toutes les images ont une position fixe */


/* ----------------------- Zone HTML ----------------------- */
.general{
    background-color: #252525;
    margin: 0px;
    padding: 0px;
}

#imgCnes{
    top: 6px;
    left: 20px;
    width: 240px;
    height: 60px;
}

#header{
    position: relative;
}

#body{
    position: relative;
}

#footer{
    position: fixed;
}

/* ----------------------- Zone About ----------------------- */

/* ----------------------- Zone Etat ----------------------- */

 @mixin noMarge(){
    margin: 0px;
    padding: 0px;
 }

h2{
    @include noMarge();
    border: 0px;
    display: block;
    color: #555;
    font-weight: normal;
    font-size: 28px;
}

#bandeauInfoUtile{
    box-sizing: border-box;
}

#tableEtat{
    background-color:#2a2a2a; 
    display: table;
    border: 0px;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    width: 100%;
}


/* ----------------------- Zone Synoptique ----------------------- */

/* ----------------------- Zone Camera ----------------------- */

/* ----------------------- Zone Magnetometre ----------------------- */

/* ----------------------- Zone Matrice ----------------------- */

/* ----------------------- Zone Commande ----------------------- */